:root {
  --brand-color_1: #2f303a;
  --brand-color_2: #2196f3;
  --brand-color_3: #212121;
  --brand-color_4: #e5e5e5;
  --brand-color_5: #757575;
  --brand-color_6: #ffffff;
}

body {
  font-family: 'roboto', 'sans-serif';
  background-color: var(--brand-color_4);
  color: var(--brand-color_3);
}

/* Скрытые элементы */
.list {
  list-style: none;
}
.hero-title,
.gallery-title {
  display: none;
}

/* Логотип в шапке и подвале */
.logo-web,
.footer-web {
  color: var(--brand-color_2);
}
.logo-studio,
.footer-studio {
  color: var(--brand-color_3);
}

/* Шапка */
.nav-header {
  background: var(--brand-color_6);
}

/* Навигация по сайту в шапке */
.nav-page-studio:hover,
.nav-page-portfolio:hover,
.nav-page-contacts:hover,
.nav-page-studio:focus,
.nav-page-portfolio:focus,
.nav-page-contacts:focus {
  color: var(--brand-color_2);
}
.nav-page-studio,
.nav-page-portfolio,
.nav-page-contacts {
  color: var(--brand-color_3);
}
.current {
  color: var(--brand-color_2);
}

/* Контакты в шапке */
.contacts-item-meil:hover,
.contacts-item-tel:hover,
.contacts-item-meil:focus,
.contacts-item-tel:focus {
  color: var(--brand-color_2);
}
.contacts-item-meil,
.contacts-item-tel {
  color: var(--brand-color_5);
}

/* Секция с заголовком */
.hero-header {
  background-color: var(--brand-color_1);
}
.hero-header-title {
  color: var(--brand-color_6);
}
.hero-btn {
  border: none;
  background: var(--brand-color_2);
}
.hero-btn-text {
  color: var(--brand-color_6);
}

/* Серый вторичный текст на сайте */
.hero-list-text,
.team-position,
.gallery-project-text {
  color: var(--brand-color_5);
}

/* Секция Чем мы занимаемся */
.hero-section {
  background: var(--brand-color_4);
}

/* Секция Наша команда и проэкты с Портфолио */
.team-section {
  background: #f5f4fa;
}

/* Подвал */
.footer {
  background-color: var(--brand-color_1);
}
.footer-address {
  color: var(--brand-color_6);
}
.footer-meil,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
}

/* Портфолио кнопки */
.gallery-btn:hover,
.gallery-btn:focus {
  color: var(--brand-color_6);
  background-color: var(--brand-color_2);
}
.gallery-btn {
  cursor: pointer;
}
